<!-- web_app/templates/navbar.html -->
<nav class=\"navbar navbar-expand-lg navbar-dark bg-dark\">
  <div class=\"container-fluid\">
    <a class=\"navbar-brand fw-bold\" href=\"{{ url_for('index') }}\">ClarityLedger</a>

    <button class=\"navbar-toggler\" type=\"button\" data-bs-toggle=\"collapse\" data-bs-target=\"#mainNav\"
            aria-controls=\"mainNav\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">
      <span class=\"navbar-toggler-icon\"></span>
    </button>

    <div class=\"collapse navbar-collapse\" id=\"mainNav\">
      <ul class=\"navbar-nav me-auto mb-2 mb-lg-0\">

        <li class=\"nav-item\">
          <a class=\"nav-link\" href=\"{{ url_for('all_items_explorer') }}\">Explorer</a>
        </li>

        <li class=\"nav-item\">
          <a class=\"nav-link\" href=\"{{ url_for('all_categories_page') }}\">All Categories</a>
        </li>

        <li class=\"nav-item\">
          <a class=\"nav-link\" href=\"{{ url_for('recurring_page') }}\">Recurring</a>
        </li>

        <li class=\"nav-item\">
          <a class=\"nav-link\" href=\"{{ url_for('goals_page') }}\">Goals</a>
        </li>

        <li class=\"nav-item\">
          <a class=\"nav-link\" href=\"{{ url_for('charts_page') }}\">Charts</a>
        </li>

        <li class=\"nav-item\">
          <a class=\"nav-link\" href=\"{{ url_for('all_transactions_page') }}\">Transactions</a>
        </li>

        <li class=\"nav-item\">
          <a class=\"nav-link\" href=\"{{ url_for('category_builder') }}\">Builder</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
